
button {
    text-align:  center;
    margin-left:  153px;
    margin-top: 20px;
}

body {
    background-color: #f9edf5;
}

.show-0 {
  background-color: white;  /*#231475*/
  width: 6px;
  height: 6px;
  border: solid 1px #614b45;
  float: left;
}

.show-1 {
  background-color: blue;
  width: 6px;
  height: 6px;
  border: solid 1px #614b45;
  float: left;
}
.map-universe {
  margin-left: 30px;
}
.map-cell {
  width: 30%;
  height: 30%;
  margin-left: 30px;
}
table.next {
    margin-left: 88px;
}
button.play {
    background-color: #47b6f7;
    height:  36px;
}


