<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>game.com.vn</title>
    <link rel="stylesheet" href="lifeUniverseColor.css">
</head>
<body>
<h1>Welcome to game of life</h1>
<div id="map-universe">
        <create-map v-if="isShowMap" :mapuniverse="newMapUniverse"></create-map>
        <universe-life @changemap1 = "changeUniverseMapNumber1" v-if="isShowChangeMap1" :changefirst="changeNewMapUniverse"></universe-life>
        <universe-life2 @changemap2 = "changeUniverseMapNumber2" v-if="isShowChangeMap2" :changetwo="changeNewMapUniverse"></universe-life2>
</div>
<script src="vue.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="lifeUniverse.js"></script>
</body>
</html>