<!DOCTYPE html>
<html>
<head>
	<title>Learning about vuejs</title>
	 <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="colorlife.css">
</head>
<body style="padding: 10px 10px;">
    <div id ="map-universe" >
    	<h3>Enter value number to play game</h3>
    	<table>
    		<tr>
    			<th><input type="text" name="" placeholder="Enter height..."></th>
    			<th><input type="text" name="" placeholder="Enter width..."></th>
    		</tr>
    	</table>
        <button v-if = "isCreate" @click = "isShowMap = true">Create a map</button><br>

		<button v-if="isCreateNextMap" v-on:click="[isShowMap= false, isShowNextMap2= false, isShowNextMap1= true]">Next Map</button>
        <li>Show game universe</li>

        <!-- Xu ly tai sao lai k hien nut button -->
        <br>
        <div class = "map-cell" v-if="isShowMap" v-for="(item, index) in newMapUniverse">
            <div v-for="i in 70" v-bind:class="'show-' + item[i-1]"></div>
        </div>
        <div class = "map-cell" v-if = "isShowNextMap1" v-for = "(item, index) in universeMapNumber">
        	<div v-for = "i in 70" v-bind:class = "'show-' +item[i-1]" ></div>
        </div>
        <div class = "map-cell" v-if = "isShowNextMap2" v-for = "(item, index) in changeNewMapNumber">
        	<div v-for = "i in 70" v-bind:class = "'show-' +item[i-1]" ></div>
        </div>
    </div>  

   	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="life.js"></script>                                                                                              
</body>
</html>
