<!DOCTYPE html>
<html>
<head>
	<title>Game of life universe</title>
	<link rel="stylesheet" type="text/css" href="color.css">
</head>
<body>
	<div id="map-universe">
		<h1>Welcome to game of life with VueJS</h1>
		<!-- click -->
		<table>
			<tr>
				<th><button v-if  = "isCreate" v-on:click = "[isShowMap = true, isShowNextMap1 = false, isCreateNextMap = true, isCreate = true]">Create Map</button>
				</th>
				<th><button v-if = "isCreateNextMap" v-on:click = "[isCreate = true, isShowMap = false, isCreateNextMap = true, isShowNextMap1 = true]">Next to change map</button>
				</th>
			</tr>
		</table>
		<table class = "next">
			<tr>
				<th>Enter value max cell</th>
				<th><input id="txtName" v-model="sumcell" type="text"></th>
				<th><button class = "play" v-if = "issumcell" v-on:click = "[isCreate = true, isShowMap = false,  isShowsumcell = true, isShowNextMap1 = false]"> {{sumcell}}: Play</button></th>
			</tr>
		</table>

		<button id = "play2" v-if = "isAutoNext" v-on:click = "[isShowMap = false, isShowNextMap1 =false, isShowAuto = true]">Play auto</button>

		<!-- <button v-if ="isAutonext" v-on:click="autoChange">Auto next</button> -->
		<!-- View -->
		<create-map class = "map-cell" v-if="isShowMap" :prop = "newMapUniverse"></create-map>

		<nextchange1-map  class = "map-cell" @change1 = "changeUniverseMapNumber1" v-if = "isShowNextMap1" :propnext1 = "changeNewMapNumber"></nextchange1-map>

		<change-sum-cell class = "map-cell" @change2 = "changeUniverseSize" v-if = "isShowsumcell" :propsum = "changesumcellMapNumber" :sum = "sumcell"></change-sum-cell>

		<playauto v-if = "isShowAuto" :propauto = "autoChangeMap"></playauto>

	</div>
	<script type="text/javascript" src="vue.js"></script>
	<script type="text/javascript" src="life.js"></script>
</body>
</html>